{{define "title"}}{{ .Title }}{{end}}
{{define "content"}}
  <div class="container">
    <div class="row">
      <h4>Autor:</h4>
      <p>Joel Tinx</p>
      <img src="/public/images/joeltinx.jpg" alt="" />
      <br>
      <a href="https://twitter.com/joeltinx" target="_blank">Sígueme en Twitter</a>
    </div>
  </div>
{{end}}
