{{define "title"}}{{ .Title }}{{end}}
{{define "content"}}
  <div class="container">
    <div class="row">
      <h3>Galeria</h3>
      <hr>
      <pre>
        Estamos trabajando en la implementación de esta sección
      </pre>
    </div>
  </div>
{{end}}
