<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="convertir imagen a punto cruz, punto cruz, convert image to cross stitch, golang basic example">
    <meta name="viewport" content="Width=device-width, initial-scale=1">
    <title>{{ block "title" . }}Default Title{{end}}</title>
    {{block "styles" .}}
    <link rel="stylesheet" href="/public/css/materialize.min.css">
    <link rel="stylesheet" href="/public/css/font-awesome.min.css">
    {{end}}
  </head>
  <body>
    <nav class="blue-grey darken-4">
      <div class="container nav-wrapper">
        <a href="/" class="brand-logo">GoCruz</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="/gallery">Galeria</a></li>
          <li><a href="/about">Acerca de</a></li>
        </ul>
      </div>
    </nav>
    {{block "content" .}}
    {{end}}
    {{block "scripts" .}}
    <script src="/public/js/materialize.min.css"></script>
    {{end}}
  </body>
</html>
